body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

form {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input[type="number"] {
    display: block;
    width: calc(100% - 20px); /* Menyesuaikan dengan padding input */
    margin-top: 10px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
}

small {
    display: block;
    color: #4c4c4c;
    margin-bottom: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}
